.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: var(--transition);
  height: 80px;
}

.header.scrolled {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  height: 100%;
}

.logo a {
  font-family: var(--font-heading);
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-orange);
  transition: var(--transition);
}

.logo a:hover {
  color: var(--color-orange);
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-list a {
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
}

.nav-list a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-orange);
  transition: var(--transition);
}

.nav-list a:hover::after {
  width: 100%;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-purple);
}

@media (max-width: 992px) {
  .menu-toggle {
    display: block;
    z-index: 1001;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    background-color: var(--color-white);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    padding: 5rem 2rem;
    transition: var(--transition);
    z-index: 1000;
  }

  .nav.active {
    right: 0;
  }

  .nav-list {
    flex-direction: column;
    gap: 2rem;
  }

  .nav-list a {
    display: block;
    font-size: 1.2rem;
  }

  .logo{
    height: 6vh !important;
  }

}




@media (max-width: 576px) {
  .py-4 {
    padding-top: 3rem !important;

  }
}